a:hover{
  color: white;
  font-weight: bold;
}

.top{
width: 100%;
height: 6%;
background-color: #010150;
 border-bottom: 0.3vh solid #223d6e;
}
.top p{
	height: 6vh;
	line-height: 6vh;
    overflow: hidden;
    font-size: 3vh;
    font-weight: bold;
    padding-left: 1.5vw;
   
}
.top p .top-left{
	color:#6bceff;
}
.top p .top-right{
	color: white;
}
.top-menu{
	width: 100%;
	height: 4%;
	background-color: #010150;
	border-bottom: 0.2vh solid #223d6e;
}
.top-menu ul{

}
.top-menu ul li{
	height: 4vh;
	line-height: 4vh;
	float: left;
	color: white;
	font-size: 2vh;
	padding-right: 3vw;
}
.top-menu ul>:first-child{
  padding-left: 1.5vw;
}
.main-content{
	width: 100%;
	height: 62%;
	/*background-color: yellow;*/
}

.main-content .main-left{
	width: 23%;
	height: 100%;
	/*background-color: green;*/
	float: left;
	/*border-bottom: 0.2vh solid #223d6e;*/
	border-left: 0.1vw solid #223d6e;
	border-right: 0.1vw solid #223d6e;

}
/*聚合关联*/
.main-content .main-lefttop{
  width: 100%;
  height: 50%;
  /*background-color: red;*/
  border-bottom: 0.1vh solid #223d6e;
	

  /*float: left;*/
}

.main-content .left-title1{
	height: 10%;
	width: 100%;
	background-color:#030364; 

}
.main-content .left-title1 .title{
color:white;
width: 100%;
}
.main-content  .left-title1 .title p{
	font-size:1.8vh;
	height: 3.1vh;
	line-height: 3.1vh;
	text-align: center;


}
.main-content .left-title1 #juhebutton{
	/*float: right;*/
	position: absolute;
    margin-top: -2.7vh;
    width: 1vw;
    height: 2vh;
    margin-left:21vw;
    cursor: pointer;
    /*z-index:3;*/
}
.main-content .left-title1 #worldheatbutton{
	/*float: right;*/
	position: absolute;
    margin-top: -2.7vh;
    width: 1vw;
    height: 2vh;
    margin-left:21vw;
    cursor: pointer;

    /*z-index:3;*/
}
/**/
.main-content .left-title1 img{
	/*float: right;*/
	position: absolute;
    margin-top: -2.7vh;
    width: 1vw;
    height: 2vh;
    margin-left:21vw;
    cursor: pointer;
    
    /*z-index:3;*/

    /*z-index:3;*/
}
.main-content .main-lefttop .lefttop-main{
	background-image: url(../images/background.png),url(../images/dot.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
	width: 100%;
	height: 90%;

}
.main-content .main-leftdown{
	width: 100%;
  height: 50%;
  /*background-color: pink;*/
  border-bottom: 0.1vh solid #223d6e;

  /*float: right;*/
}
.main-content .main-leftdown .leftdown-main{
	background: url(../images/shixu.png),url(../images/shixugrid.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 90%;
    /*opacity: 0.9;*/
    background-color: #202020;
/*	filter:alpha(Opacity=50);
	-moz-opacity:0.5;
	opacity: 0.5;*/
}
.main-content .main-middle{
	width: 53.55%;
	height: 100%;
	/*background-color: #0d35c3;*/
	float: left;
	border-top: 0.2vh solid #223d6e;
    border-right: 0.1vw solid #223d6e;
}
.main-content .main-middle .eventmenu{
    width: 13vw;
    height: 16vh;
    position: absolute;
    margin-top: -59vh;
    margin-left: 42vw;
}

.main-content .main-middle .eventlist{
     width: 53.9%;
    height: 63%;
    /*background-color: red;*/
    position: absolute;
    margin-top: -63vh;
    border-right: 0.1vw solid #223d6e;

	background-image: url(../images/shixugrid.png);

	background: -webkit-linear-gradient(left bottom,#131218 , #10105e); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(top right,#131218, #10105e); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(top right,#131218, #10105e); /* Firefox 3.6 - 15 */
    background: linear-gradient(to top right,#131218 , #10105e); /* 标准的语法（必须放在最后） */
}
.main-content .main-middle .eventlist .listtitle{
    width: 100%;
    height: 6%;
    background-color: #030364;
    border-bottom: 0.1vw solid #223d6e;


}
.main-content .main-middle .eventtable{
	width: 100%;
	height: 94%;
    /*border-right: 0.1vw solid #223d6e;*/

	background-image: url(../images/shixugrid.png);

	background: -webkit-linear-gradient(left bottom,#131218 , #10105e); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(top right,#131218, #10105e); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(top right,#131218, #10105e); /* Firefox 3.6 - 15 */
    background: linear-gradient(to top right,#131218 , #10105e); /* 标准的语法（必须放在最后） */

}
.main-content .main-middle .eventlist .listtitle p{
    color: white;
    float: left;
    margin-left:1vw;
    padding-top:0.5vh;
}
.main-content .main-middle .eventlist .listtitle .windowicon{
    /*color: white;*/
    float: right;
    margin-right: 1vw;
    margin-top:0.5vh;
    
}
.main-content .main-middle .eventlist .listtitle .windowicon img{
    /*color: white;*/
    float: right;
    margin-right: 1vw;
    margin-top:0.5vh;
    cursor: pointer;
    
}
.main-content .main-middle .eventlist .tabletitle{
        /* color: white; */
    /* float: right; */
    /* margin-right: 1vw; */
    width: 90%;
    height: 5%;
    margin: 0 auto;
    background-color: #131218;
    padding-top: 1vh;
    border: 0.1vh solid #223d6e;
    margin-top: 1vh;
    
}
.main-content .main-middle .eventlist .tabletitle1{
        /* color: white; */
    /* float: right; */
    /* margin-right: 1vw; */
    width: 90%;
    height: 5%;
    margin: 0 auto;
    /*background-color: #131218;*/
    padding-top: 1vh;
    /*border-bottom: 0.1vh solid #223d6e;*/
    margin-top: 0.5vh;
    
}
.main-content .main-middle .eventlist .tabletitle p{
   margin-right: 2.2vw;
   float: left;
   color:white;
    
}
.main-content .main-middle .eventlist .tabletitle1 p{
   margin-right: 2.2vw;
   float: left;
   color:white;
    
}
.main-content .main-middle .eventmenu .event{
	width: 9vw;
    height: 5vh;
    padding-bottom: 2vh;
    cursor: pointer;
}
.main-content .main-middle .eventmenu .analy{
    width: 9vw;
    height: 5vh;
    cursor: pointer;

}
.main-content .main-right{
	width: 23%;
	height: 100%;
	float:left;
	/*background-color: gray;*/
	/*border-bottom: 0.1vh solid #223d6e;*/
	/*border-left: 0.1vw solid #223d6e;*/
	border-right: 0.1vw solid #223d6e;


}
.main-content .main-righttop{
	width: 100%;
  height: 35%;
  /*background-color: red;*/
  float: right;
	border-bottom: 0.1vh solid #223d6e;

}
.main-content .main-righttop .worlddomain{
background: url(../images/shixu.png),url(../images/shixugrid.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 88%;
    /*opacity: 0.9;*/
    background-color: #202020;
}
.main-content .main-rightdown{
	width: 100%;
  height: 65%;
  /*background-color: green;*/
  float: right;
	border-bottom: 0.1vh solid #223d6e;

}
.main-content .main-rightdown .main-rightdownmain{
	background: url(../images/shixu.png),url(../images/shixugrid.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 92%;
    /*opacity: 0.9;*/
    background-color: #202020;
}
.main-content .main-rightdown .main-rightdownmain .right-top{
	width: 100%;
	height: 55%;
	/*background-color: red;*/


}
.main-content .main-rightdown .main-rightdownmain .right-down{
	width: 100%;
	height: 45%;
	/*background-color: blue;*/

}
.main-content .main-rightdown .main-rightdownmain .right-down .areatitle{
	width: 90%;
	height: 15%;
	/*background-color: red;*/
	margin:0 auto;
	/*background-color: blue;*/

}
.main-content .main-rightdown .main-rightdownmain .right-down .areatitle p{
	width: 20%;
	height: 100%;
	background-color: #07248c;
	color:white;
	float: left;
	margin-right: 1.2vw;
	text-align:center;
	font-size: 0.8vw;
	/*background-color: blue;*/
}
.jiange{
	width: 100%;
	height: 3%;
	background-color: #010136;
}
.bottom{
	width: 100%;
	height: 25%;
	/*background-color: yellow;*/
	clear: both;
	border-top: 0.1vh solid #223d6e;
	/*margin-top: 2vh;*/
}
.bottom .bottom-left{
	width: 40%;
	height: 100%;
	/*background-color: red;*/
	float: left;
	border-left: 0.1vw solid #223d6e;
	border-right: 0.1vw solid #223d6e;
}
.bottom .left-title1{
width: 100%;
height: 12%;
background-color:#030364; 

}
.bottom .left-title1 .title{
color:white;
width: 97%;
padding-left:1vw;
}
.bottom .left-title1 .title .tip{
	float: left;
	margin-top: 1vh;
}
.bottom .left-title1 .title p{
	font-size:1.8vh;
	height: 2.5vh;
	line-height: 2.5vh;
	padding-left:1vw;
	/*text-align: center;*/
}
.bottom .left-title1 .time{
	     position: absolute;
    /* width: 50%; */
    /* height: 10%; */
    margin-top: -2.7vh;
    margin-left: 24.3vw;
}
.bottom .left-title1 .time img{
   width: 4.5vw;
    height: 3vh;
    margin-left: -1vw;
}
.bottom .bottom-left .bottomleft-main{
	width: 100%;
	height: 88%;
	background: -webkit-linear-gradient(left bottom,#131218 , #10105e); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(top right,#131218, #10105e); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(top right,#131218, #10105e); /* Firefox 3.6 - 15 */
    background: linear-gradient(to top right,#131218 , #10105e); /* 标准的语法（必须放在最后） */
    /*background: linear-gradient(to top right, #131218 , #10105e);*/
}
.bottom .bartarget{
    width: 14%;
    height: 17%;
    position: absolute;
    margin-top: 1.2%;
    margin-left: 0.5%;
    /* line-height: 80%; */
    /*background-color: red;*/
    border: 0.1vh solid #223d6e;
}
.bottom .gridtarget{
	width: 24%;
    height: 17%;
    position: absolute;
    margin-top: 1.2%;
    margin-left: 15%;
    /* line-height: 80%; */
    /*background-color: red;*/
    border: 0.1vh solid #223d6e;
}
.bottom .gridtarget .gridtargetl{
	width: 47%;
	height: 100%;
	/*background-color: red;*/
	float: left;
	margin-left:0.5vw;
}
.bottom .gridtarget  .gridtitle{
	width: 100%;
	height: 15%;
	margin-top: 1vh;
	/*background-color: yellow;*/
	}
	.bottom .gridtarget .gridtitle .num{
	width: 13%;
	height: 100%;
	background-color: #07248c;
	float: left;
	color: white;
	}

   .bottom .gridtarget .gridtitle .iptitle{
	width: 83%;
	height: 100%;
	/*background-color: pink;*/
	float: right;
	}
   .bottom .gridtarget  .gridtitle .iptitle .ipaddr{
   	width: 52%;
   	height: 100%;
   	background-color:#07248c;
   	float: left;
   	font-size: 0.25vw;
   	padding-top: 0.35vh;
   	text-align: center;
   	color: white;
}
   .bottom .gridtarget  .gridtitle .iptitle .attaktimes{
   	width: 47%;
   	height: 100%;
   	background-color:#07248c;
   	float: right;
   	font-size: 0.25vw;
   	padding-top: 0.35vh;
   	text-align: center;
   	/*line-height: 100%;*/
   	color: white;
}
.bottom .gridtarget .gridtargetr{
	width: 47%;
	height: 100%;
	/*background-color: red;*/
	float: right;
	margin-right:0.5vw;
}
.bottom .bottom-middle{
	width: 19.49%;
	height: 100%;
	/*background-color: pink;*/
	float: left;
	border-right: 0.1vw solid #223d6e;

}
.bottom-middle .bottom-middle-main{
	background-image: url(../images/background.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
	width: 100%;
	height: 88%;

}
.bottom-middle .bottom-middle-main .daychoose{
      /*height: 20%;*/
    /* float: left; */
    width: 2.5%;
    /*background-color: red;*/
    position: absolute;
    margin-top: -8%;
    /* margin-right: 0%; */
    margin-left: 17%;
}
.bottom-middle .bottom-middle-main .daychoose img{
	    width: 100%;
    margin-bottom: 2vh;
}
.bottom .bottom-right{
	width: 40%;
	height: 100%;
	/*background-color: red;*/
	float: left;
	border-left: 0.1vw solid #223d6e;
	border-right: 0.1vw solid #223d6e;
}
.bottom .bottom-right .bottomright-main{
	width: 100%;
	height: 88%;
	background: -webkit-linear-gradient(left bottom,#131218 , #10105e); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(top right,#131218, #10105e); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(top right,#131218, #10105e); /* Firefox 3.6 - 15 */
    background: linear-gradient(to top right,#131218 , #10105e); /* 标准的语法（必须放在最后） */
}
